<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flask has moved</title>
    <meta name="description" content="Flask is a bottle that collects data.">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

    <script>
        // window.location.replace("http://stereomyth.github.io/flask/");
    </script>

    <h3><a href="http://stereomyth.github.io/flask/">Flask has moved</a></h3>
    <p>{{page.url}}</p>

</body>
</html>
